body {
    background-color: gainsboro
}
.input-group-text {
    min-width: 95px;
}
.white {
    background-color: whitesmoke;
}
.colored {
    background-color: #4abfb4;
}
.statick{
    height: 80vh;
}
.navbar{
    background-color : white;
}
.container-fluid{
    padding: 0 0 0 0;
}